#jumbotron {
    background-image: url("../images/mars-jumbotron.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#jumbotron hr {
    color: #fffb00;
}

#marsInsight {
    margin-top: 4rem;
}

#welcomeMessage {
    width: 60%;
    background-color: #05050547;
    padding: 1rem;
}

#welcomeMessage h1 {
    text-align: center;
    letter-spacing: 0.7rem;
    font-size: 3.5rem;
    font-weight: 200;
    margin: 0rem 0.25rem 0rem 0.25rem;
}

#welcomeMessage p {
    font-size: 1.15rem;
    letter-spacing: 1px;
}

.welcomeSection {
    display: flex;
    justify-content: space-around;
    padding-top: 10rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

#rover-links-section {
    padding: 0rem 1rem 3rem 1rem;
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.rover-links {
    display: flex;
    text-decoration: none;
    color: #fff;
}

.rover-links svg {
    height: 2em;
    margin: 0.6rem;
    color: #fffb00;
    border-radius: 100%;
}

.rover-links:hover svg {
    color: #000;
    background-color: #fffb00;
}

.rover-links p {
    margin: 0;
}

#SolDays {
    background-color: #ffffff24;
    padding: 1rem;
    margin: 0rem 0rem 3rem 0rem;
}

.season {
    font-size: 1.22rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem 0rem 0rem;
}

.season span {
    text-transform: capitalize;
}

.season p {
    margin: 0;
}

.card {
    border-radius: 0;
    border: none;
    --bs-card-bg: none;
    --bs-card-color: #fff;
    max-height: 15rem;
}

.card img {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.card-title {
    font-weight: 700;
    letter-spacing: 1px;
}

.card-text {
    font-size: 0.9rem;
}

#SolCharts .nav-link {
    background-color: #4c4c4c87;
    margin: 0rem 0rem 0rem 0.04rem;
    color: #fff;
    border-color: #ffffff45;
    font-weight: 600;
    letter-spacing: 0.05rem;
    transition: none !important;
}

#SolCharts .nav-link.active {
    color: #000000;
    background-color: #fffb00;
}

#SolCharts .nav-link:hover {
    color: #000000;
    background-color: #fffb00;
}

#SolCharts .nav-link.active:hover {
    color: #00000099;
}

#SolCharts .nav-tabs {
    border-color: #fffb00;
}

.charts {
    min-height: 30rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.charts .btn {
    background-color: #fffb00;
    color: #000;
    margin: 0rem 0rem 0rem 0.04rem;
    border-color: #ffffff45;
    font-weight: 600;
    letter-spacing: 0.05rem;
    transition: none !important;
}

.charts .btn:hover {
    background-color: #000;
    color: #fffb00;
}

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

@media (min-width: 1200px) {}

@media (max-width: 992px) {
    #welcomeMessage h1 {
        letter-spacing: 0.1rem;
        font-size: 2rem;
    }
    #welcomeMessage {
        width: 100%;
        padding: 0.8rem;
        margin: 0rem 1rem;
    }
}